*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.45;
  color: #4b4b4b;
  background-color: #fefefe;
}

header {
  background-color: rgba(32, 64, 96, 0.95);
  box-shadow: 0px 1px 3px 2px slategrey;
  color: white;
  max-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

a {
  text-decoration: none;
  color: teal;
}

a:hover {
  color: darkslategrey;
}

.main-content {
  margin: 0 auto;
  max-width: 70rem;
  padding: 1rem;
}

h1 {
  text-align: center;
  line-height: 1.25;
}

h1 small {
  font-weight: normal;
  font-size: 0.575em;
}

p {
  margin: 4rem 0;
}

img,
svg,
video {
  max-width: 100%;
}

video {
  width: 100%;
  height: auto;
}

code {
  background: darkslategrey;
  color: white;
  padding: 0.25em;
  font-size: 0.8em;
}

.media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
}

header .media-container {
  width: 100%;
}

.media-container-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  place-content: center center;
  place-items: center center;
}

select,
input,
button {
  margin: 0 0.5rem;
  flex-grow: 1;
  max-width: 50%;
}

button,
.button {
  border-radius: 0.2rem;
  font-family: "Lato", sans-serif;
  outline: none;
  border: 0;
  box-shadow: 0px 0px 3px 2px lightgrey;
  background-color: slategray;
  color: white;
  font-size: 0.8em;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5em;
}

button span,
.button span {
  display: inline-block;
  padding: 0 1em;
  text-align: center;
  line-height: 1.2;
}

button:hover,
.button:hover {
  color: lightgrey;
  filter: brightness(1.25);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }

  .controls-container label {
    flex-direction: column;
    font-size: 1rem;
  }

  select,
  input,
  button {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    max-width: 100%;
  }

  label button,
  label input {
    width: 100%;
  }

  .header--old-logo,
  .header--new-logo {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 1.5em;
  }

  .header--old-logo,
  .header--new-logo {
    font-size: 1rem;
  }
}

.glowing-eyes .optimus-logo--eyes {
  animation: glowing-eyes 2s ease 1s infinite alternate;
}

@keyframes glowing-eyes {
  from {
    fill: white;
    stroke-width: 6;
  }

  to {
    fill: red;
    stroke-width: 0;
  }
}

.read-more {
  position: absolute;
  bottom: 2rem;

  animation: bounce 1.5s ease-in 1s infinite alternate;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

button.read-more--arrow {
  display: block;
  border: 3px solid white;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  background: transparent;
  box-shadow: none;
  width: 4rem;
  height: 4rem;
  max-width: unset;
  max-height: unset;
  flex-grow: unset;

  filter: drop-shadow(2px 4px 6px black);
}

@keyframes bounce {
  from {
    transform: translateY(10%);
  }

  to {
    transform: translateY(-25%);
  }
}

.header--old-logo,
.header--new-logo {
  animation: rotateY 5s ease-in-out 10s infinite alternate;
  transform: scale(0.9);
}

.header--old-logo .image-container img {
  object-fit: cover;
  border-radius: 50%;
  width: 10em;
  height: 9.25em;
  object-position: 0 2em;
}

.header--new-logo svg {
  margin-top: 2em;
}

.header--new-logo svg .optimus-logo--eyes {
  animation: glowing-eyes 5s ease-in infinite alternate;
}

@keyframes rotateY {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.15);
  }
}

.LazyLoad {
  max-width: 100%;
}
