footer {
  background-color: rgb(32, 64, 96);
  color: white;
  box-shadow: 0px -1px 3px 2px slategrey;
  font-size: 0.9rem;
}

footer a {
  color: lightcyan;
}

footer a:hover {
  color: lightblue;
}

footer p {
  margin: 2rem 0 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  gap: 2rem;
  grid-auto-flow: dense;
  padding: 2rem 1rem;
}

.grid-column-span-2 {
  grid-column: span 2;
}
