.image-container {
  position: relative;
  height: 0;
  width: 20rem;
  padding-bottom: 100%;
  max-width: 100%;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.image-loading {
  opacity: 0;
  width: 100%;
  height: auto;
}

.image-loaded {
  position: relative;
  opacity: 0;
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  animation-delay: 0.1s;
}

.image-container.loading {
  animation: pulse 1s ease infinite alternate;
  filter: blur(1.5);
}

@keyframes fadeInImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    background-color: rgba(32, 64, 96, 0.3);
  }

  to {
    background-color: rgba(32, 64, 96, 0.5);
  }
}
