header .lang-select {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.lang-select {
  display: inline-flex;
}

.lang-select a {
  display: block;
  font-size: 0.85rem;
  color: white;
  padding: 0.25rem;
}

.lang-select a:hover {
  color: skyblue;
}

.lang-select a.active {
  color: skyblue;
  font-weight: bolder;
  filter: drop-shadow(2px 4px 6px black);
}

footer .lang-select a {
  text-transform: lowercase;
}
