.controls-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 25rem;
  max-width: 50%;
}

.controls-container label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #737373;
  line-height: 1;
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
