.animated-logo g:not(.optimus-logo--eyes),
.animated-logo path:not(.optimus-logo--eye) {
  transition: transform 1.5s ease;
  transform: translate(0, 0);
}

.animated-logo .optimus-logo--eyes {
  transition: opacity 0.75s ease-in 1.5s;
  opacity: 1;
  visibility: visible;
}

.animated-logo.animate .optimus-logo--masks {
  transform: translateY(25%);
}

.animated-logo.animate .optimus-logo--cheeks {
  transform: translateY(15%);
}

.animated-logo.animate .optimus-logo--ears {
  transform: translateY(-25%);
}

.animated-logo.animate .optimus-logo--foreheads {
  transform: translateY(-15%);
}

.animated-logo.animate .optimus-logo--hair {
  transform: translateY(-20%);
}

.animated-logo.animate .optimus-logo--nose {
  transform: translateY(10%);
}

.animated-logo.animate .optimus-logo--left:not(.optimus-logo--eye) {
  transform: translateX(-20%);
}

.animated-logo.animate .optimus-logo--right:not(.optimus-logo--eye) {
  transform: translateX(20%);
}

.animated-logo.animate .optimus-logo--left.optimus-logo--mask,
.animated-logo.animate .optimus-logo--left.optimus-logo--forehead {
  transform: translateX(-15%);
}

.animated-logo.animate .optimus-logo--right.optimus-logo--mask,
.animated-logo.animate .optimus-logo--right.optimus-logo--forehead {
  transform: translateX(15%);
}

.animated-logo.animate .optimus-logo--eyes {
  opacity: 0;
  visibility: hidden;
}
