.iframe-loading {
  animation: pulse 1s ease infinite alternate;
  filter: blur(1.5);
}

@keyframes pulse {
  from {
    background-color: rgba(32, 64, 96, 0.3);
  }

  to {
    background-color: rgba(32, 64, 96, 0.5);
  }
}
